body {
    font: 10pt Arial, Helvetica, sans-serif;
}
#container {
    width: 500px;
    margin: 0 auto;
}
header {
    padding: 5px;
    background: mediumseagreen;
    color: white;
}
#sidebar {
    margin-top: 10px;
    width: 110px;
    padding: 0 10px;
    float: left;
    background: lightgrey;
}
#content {
    margin-left: 130px;
    padding: 10px;
}

.firstLinks {
    background: lightgrey;
    margin: 10px;
    padding: 10px;
    float: left;
}

.td {
    background: lightgrey;
    margin: 5px;
    padding: 5px;
    float: left;
}

footer {
    background: lightgrey;
    padding: 5px;
    position: fixed; left: 0; bottom: 0; width: 100%;
}